    /*Títulos, frases de chamariz, navegação de cabeçalho*/
    
    @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
    /*Body*/
    
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
     :root {
        --cor-dark-blue-footer: hsl(216, 53%, 9%);
        --cor-dark-blue-testimonials: hsl(219, 30%, 18%);
        --cor-dark-blue-main: hsl(218, 28%, 13%);
        --cor-dark-blue-intro-and-email: hsl(217, 28%, 15%);
        --cor-light-red-error: hsl(0, 100%, 63%);
        --cor-cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
        --cor-blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
        --cor-white: hsl(0, 0%, 100%);
    }
    
    html {
        font-size: 14px;
    }
    
    body {
        background: var(--cor-dark-blue-main);
        font-family: "Open Sans";
    }
    
    .h {
        color: var(--cor-white);
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Raleway";
    }
    
    .illustration_grande {
        line-height: 1.5;
    }
    
    .h--big {
        font-size: 1.3rem;
    }
    
    .h--heading {
        font-size: 1.3rem;
    }
    
    .h--testimonials_nome {
        font-size: 0.8rem;
    }
    
    .text {
        font-size: 1rem;
        color: var(--cor-white);
        line-height: 1.5;
        margin-bottom: 20px;
        opacity: 0.9;
    }
    
    .illustration__btn {
        width: 280px;
        height: 55px;
        font-size: 1.12rem;
    }
    
    .btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to right, var(--cor-cyan-inside-call-to-action-gradient) 0%, var(--cor-blue-inside-call-to-action-gradient) 100%);
        border: none;
        border-radius: 30px;
        font-family: "Raleway";
        font-weight: 700;
        text-decoration: none;
        color: var(--cor-white);
        overflow: hidden;
        cursor: pointer;
        z-index: 1;
        width: 100%;
        height: 48px;
    }
    
    .btn:hover {
        background: var(--cor-cyan-inside-call-to-action-gradient);
    }
    
    .header {
        background: var(--cor-dark-blue-intro-and-email);
    }
    
    .header__logo img {
        display: block;
        width: 80px;
    }
    
    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 20px;
        animation: header-slide 1000ms ease-in-out;
    }
    
    .header__nav-list {
        display: flex;
        list-style: none;
    }
    
    .header__nav-item:not(:last-child) {
        margin-right: 30px;
    }
    
    .header__nav-link {
        position: relative;
        font-family: "Raleway";
        font-size: 0.85rem;
        color: var(--cor-white);
        text-decoration: none;
    }
    
    .header__nav-link:hover {
        text-decoration: underline;
    }
    
    .illustration__container {
        position: relative;
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0 35px;
        padding-top: 21px;
    }
    
    .illustration__hero {
        margin-bottom: 32px;
    }
    
    .illustration {
        position: relative;
        background: linear-gradient(180deg, var(--cor-dark-blue-intro-and-email) 0%, var(--cor-dark-blue-intro-and-email) 48%, var(--cor-dark-blue-main) 48%);
        padding-bottom: 140px;
    }
    
    .illustration::before {
        position: absolute;
        content: '';
        top: -76px;
        left: 0;
        background: url("./img/bg-curvy-mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100vw;
        height: 100%;
    }
    
    .illustration__hero img {
        width: 100%;
        max-width: 500px;
    }
    
    .illustration__content {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
    }
    
    .illustration__heading {
        margin-bottom: 13px;
        font-size: 1.5rem;
    }
    
    .illustration__text {
        max-width: 300px;
        margin-bottom: 31px;
    }
    
    .features {
        margin-bottom: 139px;
    }
    
    .features__container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        gap: 85px;
        margin: 0 29px;
    }
    
    .features__card {
        display: flex;
        flex-flow: column;
        align-items: center;
        text-align: center;
    }
    
    .features__card-icon {
        margin-bottom: 30px;
        max-height: 82px;
        height: 100%;
    }
    
    .features__card-icon img {
        width: 78%;
    }
    
    .features__card-heading {
        margin-bottom: 10px;
    }
    
    .features__card-text {
        max-width: 310px;
    }
    
    .stay {
        margin-bottom: 180px;
    }
    
    .stay__container {
        display: flex;
        flex-flow: column;
        margin: 0 30px;
    }
    
    .stay__hero {
        margin-bottom: 38px;
        align-self: center;
    }
    
    .stay__hero img {
        width: 100%;
    }
    
    .stay__content {
        display: flex;
        flex-flow: column;
    }
    
    .stay__heading {
        margin-bottom: 20px;
        text-align: left;
        font-size: 18px;
    }
    
    .stay__text:last-of-type {
        margin-bottom: 17px;
    }
    
    .stay__btn {
        position: relative;
        display: flex;
        align-items: center;
        align-self: flex-start;
        padding-bottom: 5px;
        border-bottom: 1px solid var(--cor-cyan-inside-call-to-action-gradient);
        color: var(--cor-cyan-inside-call-to-action-gradient);
        text-decoration: none;
        font-size: 0.84rem;
    }
    
    .stay__btn-arrow {
        margin-left: 5px;
    }
    
    .stay__btn-arrow:hover {
        background: var(--cor-white);
        border-radius: 50%;
    }
    
    .testimonials {
        margin-bottom: 356px;
    }
    
    .testimonials__container {
        display: grid;
        grid-template-columns: minmax (250px, 500px);
        justify-content: center;
        gap: 20px;
        margin: 0 47px;
    }
    
    .testimonials__card {
        position: relative;
        background: var(--cor-dark-blue-testimonials);
        padding: 28px 21px;
        box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.04);
        border-radius: 6px;
    }
    
    .testimonials__card:first-child::before {
        position: absolute;
        content: url("./img/bg-quotes.png");
        top: -36px;
        left: -10px;
        transform: scale(0.5);
    }
    
    .testimonials__card-text {
        margin-bottom: 18px;
    }
    
    .testimonials__card-user {
        display: flex;
    }
    
    .testimonials__card-image {
        margin-right: 7px;
    }
    
    .testimonials__card-image img {
        width: 24px;
        border-radius: 50%;
    }
    
    .testimonials__card-founder {
        color: var(--cor-white);
        font-size: 0.7rem;
    }
    
    .footer {
        position: relative;
        background: var(--cor-dark-blue-footer);
    }
    
    .footer__get {
        position: absolute;
        top: -208px;
        left: 50%;
        transform: translate(-50%);
        width: calc(100% - 30px);
        padding: 46px 25px;
        border-radius: 10px;
        background: var(--cor-dark-blue-intro-and-email);
        text-align: center;
    }
    
    .footer__get-subheading {
        margin-bottom: 15px;
    }
    
    .footer__get-subheading {
        max-width: 690px;
        margin: 0 auto;
        margin-bottom: 39px;
    }
    
    .footer__get-form {
        position: relative;
        display: flex;
        flex-flow: row wrap;
    }
    
    .footer__get-heading {
        margin-bottom: 15px;
    }
    
    .footer__get-input {
        width: 100%;
        border-radius: 30px;
        border: none;
        background: var(--cor-white);
        padding: 15px;
        height: 48px;
        margin-bottom: 30px;
    }
    
    .footer__get-input::placeholder {
        font-size: 0.9rem;
        color: #cccccc;
    }
    
    .footer__get-error {
        position: absolute;
        top: 54px;
        left: 50%;
        width: 100%;
        color: var(--cor-light-red-error);
        transform: translate(-50%);
        font-size: 0.8rem;
        font-weight: 700;
    }
    
    .footer__container {
        padding-top: 201px;
        padding-bottom: 40px;
        margin: 0 30px;
        color: var(--cor-white);
    }
    
    .footer__logo {
        margin-left: 10px;
        margin-bottom: 38px;
    }
    
    .footer__content {
        display: flex;
        flex-flow: column;
    }
    
    .footer__conteudo {
        margin-bottom: 62px;
        font-style: normal;
    }
    
    .footer__conteudo-item {
        display: flex;
    }
    
    .footer__conteudo-item:not(:last-child) {
        margin-bottom: 23px;
    }
    
    .footer__conteudo-icon {
        width: 30px;
        height: 30px;
        margin-right: 9px;
    }
    
    .footer__conteudo-text {
        font-size: 1.13rem;
        max-width: 275px;
        opacity: 0.9;
    }
    
    .footer__nav {
        margin-bottom: 79px;
        flex: 1;
    }
    
    .footer__nav-list {
        column-count: 1;
        list-style: none;
    }
    
    .footer__nav-item:not(:last-child) {
        margin-bottom: 15px;
    }
    
    .footer__nav-item:nth-child(4) {
        margin-bottom: 49px;
    }
    
    .footer__nav-link {
        color: var(--cor-white);
        text-decoration: none;
        font-size: 1.1rem;
        transition: all 0.3s ease-in-out;
    }
    
    .footer__socials {
        display: flex;
        justify-content: center;
    }
    
    .footer__socials-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        color: var(--cor-white);
        border: 1px solid var(--cor-white);
        border-radius: 50%;
        text-decoration: none;
        transition: border-color 250ms ease-in, color 250ms ease-in;
    }
    
    .footer__nav-link:hover {
        text-shadow: 0 0 0.9px var(--cor-white), 0 0 0.9px var(--cor-white), 0 0 0.9px var(--cor-white);
    }
    
    .footer__socials-link:not(:last-child) {
        margin-right: 11px;
    }
    
    .footer__socials-link:hover {
        animation: 300ms ease-in;
        border-color: var(--cor-cyan-inside-call-to-action-gradient);
        color: var(--cor-cyan-inside-call-to-action-gradient);
    }
    
    @media (min-width: 769px) {
        .illustration__heading {
            max-width: 530px;
        }
        .features__container {
            grid-template-columns: repeat(2, 1fr);
            gap: unset;
            row-gap: 30px;
            justify-content: center;
        }
        .features__card-icon img {
            width: 100%;
        }
        .features__card-text {
            max-width: 320px;
        }
        .stay__container {
            flex-flow: row;
        }
        .stay__hero {
            margin-bottom: 0;
            margin-right: 30px;
        }
        .stay__content {
            justify-content: center;
        }
        .stay__text {
            text-align: left;
            max-width: unset;
            margin: unset;
        }
        .stay__btn {
            margin: unset;
            font-size: 1.05rem;
            transition: color 250ms ease-in, border-color 250ms ease-in;
        }
        .stay__btn:hover {
            color: var(--cor-white);
            border-color: var(--cor-white);
        }
        .testimonials__container {
            grid-template-columns: repeat(3, minmax(220px, 500px));
        }
        .footer__get-heading {
            margin-bottom: 21px;
        }
        .footer__get-form {
            justify-content: space-between;
            max-width: 709px;
            margin: 0 auto;
        }
        .footer__get-input {
            max-width: 481px;
            margin-bottom: 0px;
            padding-left: 38px;
        }
        .footer__get-error {
            left: 20px;
            width: unset;
            transform: none;
        }
        .footer__content {
            justify-content: space-between;
            flex-flow: row;
        }
        .footer__socials {
            align-self: unset;
        }
    }
    
    @media (min-width: 1100px) {
        .illustration_grande {
            font-size: 2.9rem;
        }
        .h--big {
            font-size: 2.3rem;
        }
        .text {
            font-size: 1.44rem;
        }
        .text--features {
            font-size: 1rem;
        }
        .tex--testimonials {
            font-size: 0.8rem;
            line-height: 1.6;
        }
        .tex--stay {
            font-size: 1.15rem;
        }
        .tex--testimonials {
            font-size: 1.05rem;
        }
        .header__container {
            max-width: 1365px;
            margin: 0 auto;
            padding: 74px 40px 52px 40px;
        }
        .header__logo img {
            width: 179px;
        }
        .header__nav-item:not(:last-child) {
            margin-right: 62px;
        }
        .header__nav-link {
            font-size: 1.1rem;
        }
        .illustration {
            background: var(--cor-dark-blue-intro-and-email);
        }
        .btn--md {
            width: 300px;
            height: 55px;
            font-size: 1.12rem;
        }
        .illustration::before {
            background: url("./img/bg-curvy-desktop.svg");
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
            top: 47px;
        }
        .illustration__hero img {
            max-width: unset;
        }
        .illustration__heading {
            max-width: 700px;
            margin-bottom: 33px;
        }
        .illustration__text {
            max-width: 590px;
        }
        .features__container {
            grid-template-columns: repeat(2, 510px);
            row-gap: 91px;
            max-width: 1033px;
            margin: 0 auto;
            margin-top: 33px;
            justify-content: unset;
        }
        .features__card-icon {
            margin-bottom: 26px;
        }
        .features__card-text {
            max-width: 375px;
        }
        .stay__container {
            max-width: 1230px;
            margin: 0 auto;
        }
        .stay__hero {
            margin-right: 58px;
        }
        .stay__content {
            flex: 1;
            margin-top: 40px;
        }
        .stay__heading {
            max-width: 340px;
        }
        .stay__btn {
            font-size: 1.17rem;
        }
        .testimonials__container {
            max-width: 1150px;
            margin: 0 auto;
            gap: 50px;
        }
        .testimonials__card {
            padding: 30px 21px;
        }
        .testimonials__card:first-child::before {
            top: -43px;
            left: -13px;
            transform: scale(1);
            z-index: -1;
        }
        .btn--big {
            width: 200px;
            height: 48px;
            font-size: 1rem;
        }
        .footer__container {
            max-width: 1260px;
            margin: 0 auto;
            padding: 201px 64px 160px 30px;
        }
        .footer__get {
            max-width: 863px;
        }
        .footer__logo {
            margin-left: 0;
            margin-bottom: 26px;
        }
        .footer__conteudo {
            flex: 2;
            display: flex;
            flex-flow: column wrap;
            height: 100px;
        }
        .footer__conteudo-item:not(:last-child) {
            margin-bottom: 6px;
        }
        .footer__nav-list {
            column-count: 2;
            list-style: none;
        }
    }